@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
	-webkit-transition: linear 175ms;
}

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.5;
}

body{
	font-family: 'Lato', sans-serif;
}

.section {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding-top: 50px;
}

.name {
	display: inline;
	float: right;
	font-size: 56px;
	font-weight: 400;
	padding-top: 30px;
	text-align: left;
	position: relative;
	left: -38px;
}

.img-circle {
	width: 150px;
	border-radius: 50%;
	position: relative;
	left: -25px;
}

.picture {
	float: left;
	width: 35%;
	text-align: center;
}

.header-container {
	padding-bottom: 50px;
}

.icons ul {
	list-style: none;
}

.icons li {
	margin-left: -25px;
}

.icons .fa {
	padding-right: 5px;
}

.resume-button{
	float:left;
}

.resume-button a{
	text-decoration: none;
	color: #000;
	 position: relative;
	 margin-left: 13px;
	 cursor: pointer;
 	 padding: 8px 25px;
 	 border: 1px solid #204156;
 	 position:relative;
 	 border-radius: 3px;
}

.resume-button a .fa {
	padding-right: 7px;
}

.resume-button a:hover {
	background-color: #000;
	color: #FFF;
}

.resume-button a: active {
	top: 2px;
}

.inner{
	z-index: -999;
	position: relative;
	left: 50px;
}

.sidebar {
	float: left;
	height: 800px;
}

.section .title {
	margin: 0px;
}

.project-list{
	list-style: none;
	font-weight: 700;
}


.project-list .fa {
	padding-right: 7px;
}

.project-list .information {
	position: relative;
	bottom: 10px;
	font-weight: 400;
}

.icons .link {
	position: relative;
	bottom: 25px;
	font-size: 15px;
	text-decoration: none;
	color: #000;
}

.icons .link:hover {
	color: #0000FF;
}

.skills-list {

	list-style: none;
	font-weight: 700;

}

.skills-list .fa {
	padding-right: 7px;
}

@media (max-width: 750) {
  .section {
    
    width: 500;
  }
}

@media (max-width: 550) {
  .section {
    
    width: auto;
  }

@media (max-width: 500) {
   .section {
    
    width: auto;
  }