@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.5;
}

body{
	font-family: 'Lato', sans-serif;
}

.section {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding-top: 50px;
}

.name {
	display: inline;
	float: right;
	font-size: 56px;
	font-weight: 400;
	padding-top: 30px;
}

.img-circle {
	width: 150px;
	border-radius: 50%;
}

.picture {
	float: left;
	width: 35%;
}

.header-container {
	padding-bottom: 50px;
}

.icons ul {
	list-style: none;
}

.icons li {
	margin-left: -25px;
}

.icons .fa {
	padding-right: 5px;
}